body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../assets/images/wave-haikei.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Landing Page CSS begins here */

/* User account List, Home page CSS */
.header__account__list {
  border-radius: 20px 20px 0px 0px;
  width: 35%;
  margin: auto;
  background-color: rgb(241, 241, 241);
  color: gray;
  padding: 1.5rem 0;
  margin-top: 10rem;
}
.header__account__list > h3 {
  padding-left: 1rem;
}
.all__users__list {
  height: 500px;
  overflow-y: scroll;
  width: 35%;
  margin: auto;
}

.users__list {
  border-bottom: 1px solid gray;
  color: black;
  display: flex;
  gap: 1rem;
  transition: transform 0.2s;
  align-items: center;
  margin: auto;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  background-color: white;
}
.users__list:hover {
  transform: scale(1.05);
  background-color: rgb(218, 255, 255);
  border-bottom: none;
}
.users__list > p {
  font-size: 18px;
}
.users__list > img {
  width: 7%;
  border-radius: 50px;
}

/* Dashboard CSS begin hereby */
.dashboard-main {
  background-color: white;
  display: flex;
}

.left__nav__flex {
  background-color: rgb(107, 43, 226);
  color: white;
  border-radius: 20px;
  padding: 2rem;
  padding-top: 13%;
  margin: 3rem;
  margin-top: 5rem;
  height: 500px;
}
.left__nav__flex > p {
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  transition: transform 0.2s;
  width: 14rem;
  text-align: left;
  padding-bottom: 1rem;
}
.left__nav__flex > *:first-child {
  font-size: 1.5rem;
  color: white;
  border-bottom: 1px solid white;
  padding-right: 9.5rem;
}
.left__nav__flex > *:hover {
  font-weight: 500;
  transform: scale(1.1);
  cursor: pointer;
}
.right__content__flex {
  /* border: 2px solid red; */
  width: 90%;
}
.user__info__top {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.4rem;
  border-bottom: 1px solid gray;
}
.user__info__top > h3 {
  color: rgb(107, 107, 107);
}
.user__img__name {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.user__img__name > img {
  border-radius: 50px;
}

.user__details__left {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: -2rem;
}
.user__details__left {
  color: gray;
  font-size: 1.1rem;
}
.user__details__left > h3 {
  color: black;
}

.main__content__dashboard {
  /* border: 1px solid blue; */
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-top: 2rem;
  padding-right: 5rem;
}
.dashboard__content__left {
  width: 50%;
}
.dashboard__content__left > img {
  border-radius: 50%;
}
.dashboard__content__left > h3 {
  font-size: 1.5rem;
}
.dashboard__content__right {
  width: 50%;
}
.dashboard__content__right > iframe {
  border-radius: 20px;
  width: 100%;
  height: 20rem;
}

.company__deets {
  font-size: 1.7rem;
  color: gray;
  border-top: 1px solid gray;
  margin-bottom: 2rem;
  width: 80%;
  text-align: center;
}

.long__lat__mains {
  display: flex;
  gap: 1rem;
  justify-content: end;
}
.long__lat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.vir_line {
  border-left: 1px solid gray;
  height: 600px;
  position: absolute;
  left: 57%;
  margin-left: -3px;
  top: 30%;
}

.comming__soon {
  color: rgb(216, 216, 216);
  font-size: 3rem;
  text-align: center;
  margin-top: 15rem;
}
